.search-advanced-btn {
	cursor:pointer;
}

.error-message, .results-header {
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}

.error-message {
	background-color: #fcf8e3;
}

.results-header {
	background-color: #f4f8fa;
}

.result {
	padding: 10px;
	list-style-type: none;
	border-radius: 10px;
}

.result:hover {
	background-color: #f5f5f5;
}

.melody, .author, .error-message, .results-header, .search-advanced {
	display: none;
}